<html>
  <head></head>
  <body>
    <p>
      "The number is <%= goal%>!"
    </p>

    <form>
      <input type = 'text' name = 'guess' />
      <input type = 'submit' value='Guess!' />
    </form>

  </body>
</html>
